@font-face {
  font-family: "PublicPixel";
  src: url("/font/PublicPixel.ttf");
}

@font-face {
  font-family: "SummerPixel";
  src: url("/font/SummerPixel.ttf");
}

@font-face {
  font-family: "PressStart2P";
  src: url("/font/PressStart2P.ttf");
}
