@import url("./fonts.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 9px;
  border-radius: 0px;
  background: black;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(165, 165, 165);
}
::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 10px;
}

:root {
  --brand-clr: hsl(185, 85%, 40%);
  --bg-primary: hsl(195, 20%, 86%);
  --border-clr: #6393c1;
  --accent-blue: hsl(205, 100%, 48%);
  --text-primary: hsl(0, 0%, 0%);
  --text-accent: hsl(0, 0%, 49%);
  --pane-color: #d6deff82;

  --header: 3.5rem;
  --full-width: 100%;
  --padding-space: calc(var(--full-width) - 2rem);
  --max-width: 80rem;
  --min-width: 22.5rem;

  --bd-radius: 0.5em;
  --space-025: 0.25rem;
  --space-05: 0.5rem;
  --space-1: 1rem;

  --fz-h1: 36px;
  --fz-h2: 28px;
  --fz-h3: 24px;
  --fz-text: 16px;
  --fz-desc: 12px;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-flow: column;
  min-block-size: 100vh;
  font: 400 16px/1.4 "PressStart2P";
}

.container {
  flex-grow: 1;
  display: grid;
  place-self: center;
  justify-content: center;
  inline-size: 98%;
}

.site-header {
  --padding: 1rem;
  --header-margin: 5vh;
  margin: 20px;
  min-block-size: var(--header);
  border-radius: var(--bd-radius);
  padding-inline: var(--padding);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header__content--flow {
  block-size: inherit;
  display: flex;
  flex-flow: wrap;
}

.header__content--flow > * {
  flex-grow: 1;
  height: var(--header);
}

.header-content {
  display: grid;
  justify-content: center;
  align-items: center;
}

.logo-text {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 500;
}

.nav-toggle {
  aspect-ratio: 1;
  height: 2.25rem;
  display: inline-grid;
  place-content: center;
  background: none;
  border: none;
  visibility: hidden;
  cursor: pointer;
}

.nav-toggle:active {
  scale: 0.9;
}

.toggle--icon {
  width: 1.5rem;
  height: 0.25rem;
  border-radius: 10vh;
  position: relative;
  background-color: #666;
}

.toggle--icon::before,
.toggle--icon::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: currentColor;
  translate: 0 var(--bar--top, 0.5rem);
}

.toggle--icon::after {
  --bar--top: -0.5rem;
}

.nav__list {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  grid-auto-rows: 2.25rem;
}

.list-item {
  block-size: 100%;
  margin-left: 10px;
}

.nav__link {
  block-size: inherit;
  display: inline-grid;
  place-items: center;
  min-width: 10ch;
  color: var(--text-primary);
  font-size: 15.3px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav__link:focus-within {
  color: var(--accent-blue);
}
.nav__link:hover:not(:focus) {
  border-bottom: 2px solid currentColor;
}
.nav__list:hover .nav__link:not(:focus, :hover) {
  color: var(--text-accent);
}

main {
  margin: 2em;
}

.align-center {
  text-align: center;
}

.main-avatar {
  width: 12em;
  position: sticky;
  z-index: 100;
  filter: drop-shadow(5px 0 0 #6393c1) drop-shadow(0 5px 0 #6393c1);
}

.main-title {
  letter-spacing: -0.05em;
  font-size: 250px;
  font-family: Inter;
  filter: url(#goof);
  text-align: center;
  margin-top: -280px;
  background: linear-gradient(to right, #cfe7fa 0%, #6393c1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.d-inline {
  display: inline-flex;
}

html {
  height: 100%;
}
body {
  background-image: url("/img/noise.webp"),
    radial-gradient(at 40% 20%, rgba(0, 124, 255, 0.34) 0px, transparent 50%);
  background-repeat: repeat, no-repeat, no-repeat, no-repeat;
}

kbd {
  background-color: #444;
  border-top: 3px solid #aaa;
  border-left: 3px solid #999;
  border-right: 3px solid #333;
  border-bottom: 4px solid #222;
  border-radius: 4px;
  color: whitesmoke;
  display: inline-block;
  font-size: 0.8em;
  line-height: 100%;
  margin: 0 0.1em;
  padding: 0.2em 0.5em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  border: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-bottom: -200px;
}
.progressbar {
  height: 50px;
  width: 380px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(-40deg);
}
.side {
  width: 100%;
  height: 100%;
  background-color: rgba(254, 254, 254, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.side__bottom {
  transform: rotateX(90deg);
  transform-origin: bottom;
  box-shadow: 10px 5px 50px 5px rgba(0, 0, 0, 0.25);
}
.side__top {
  transform: rotateX(-90deg);
  transform-origin: top;
}
.side__back {
  transform: translateZ(-50px);
}

.side__left {
  width: 50px;
  transform: rotateY(90deg);
  transform-origin: left;
  background-color: rgba(0, 139, 139, 0.5);
}
.side__fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #cfe7fa;
  transition: 0.3s all linear;
}

.progressbar__text {
  display: inline-block;
  position: relative;
  top: -110px;
  left: 50px;
  font-size: 22px;
  padding: 5px;
  background-color: rgba(0, 124, 255, 0.34);
  cursor: pointer;
  margin-right: 17px;
  font-family: SummerPixel;
  color: white;
  border-radius: 5px;
  box-shadow: 1px -2px 0px 0px rgba(0, 124, 255, 0.34),
    2px -2px 0px 0px rgba(0, 124, 255, 0.34),
    3px -2px 0px 0px rgba(0, 124, 255, 0.34);
}
.progressbar__text:last-of-type {
  margin-right: 0;
}
.progressbar__checker {
  display: none;
}

#js:checked ~ div > .side__fill {
  width: 85%;
}
#ts:checked ~ div > .side__fill {
  width: 30%;
}
#html:checked ~ div > .side__fill {
  width: 100%;
}
#nodejs:checked ~ div > .side__fill {
  width: 60%;
}
#css:checked ~ div > .side__fill {
  width: 90%;
}

.progressbar__checker:checked + .progressbar__text {
  background-color: #74ace0;
}

.main-subtitle {
  margin-top: -90px;
  font-family: PublicPixel;
}

.subtitle {
  font-family: PublicPixel;
}

.blog-article__title {
  font: 400 16px/1.4 "PressStart2P";
  font-size: 30px;
}

.blog-post {
  padding: 1em;
  margin: 1em;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.blog-post .tags {
  color: #74ace0;
  font-weight: 900;
}

.blog-post .title {
  cursor: pointer;
  margin-bottom: 10px;
}

.blog-post .title a {
  color: var(--text-primary);
}

.blog-post .icon {
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 5px;
}

.blog-post__tag {
  margin: 0 8px 0 0;
  padding: 4px 8px;
  font-size: var(--fz-desc);
  background-color: var(--pane-color);
  line-height: 1;
  border-radius: 4px;
}

.blog-post__tag:last-child {
  margin-right: 0;
}

.user-s__none {
  user-select: none;
}

.contacts-icon {
  height: 35px;
  transition: filter 0.3s ease;
  filter: invert(54%) sepia(92%) saturate(1125%) hue-rotate(193deg)
    brightness(95%) contrast(96%);
}

.contacts-icon:hover {
  filter: invert(54%) sepia(92%) saturate(1125%) hue-rotate(193deg)
    brightness(95%) contrast(96%) blur(2px);
}

.hljs {
  border-radius: 10px;
  font-size: 15px;
  font-family: JetBrainsMono Light;
}

.project-card {
  border-radius: 10px;
  border: #121212 1px solid;
  margin: 10px;
  padding: 10px;
  width: 23em;
  filter: drop-shadow(12px 23px 12px #d88bf4);
  transform: rotate3d(2, 1, 1, 0.83turn);
}

@keyframes rotate {
  from {
    transform: rotate3d(2, 1, 1, 0.83turn);
  }
  to {
    transform: rotate3d(2, 1, 1, 1turn);
  }
}
.project-card:hover {
  animation: rotate 1s linear;
}

.card-container {
  display: table;
  margin: auto;
}

.project-card__title {
  color: #000;
  margin-bottom: 10px;
}

.skill-main {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}
.skill-main .skill-wrrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.skill-main .skill-wrrap .skill-name {
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.skill-main .skill-wrrap .skill-bar {
  height: 20px;
  background-color: #00283a;
  border-radius: 8px;
}
.skill-main .skill-wrrap .skill-per {
  height: 20px;
  background: #23576f;
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}
.skill-main .skill-wrrap .skill-per:before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #23576f;
  color: #fff;
  font-size: 11px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}
.skill-main .skill-wrrap .skill-per:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #23576f;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@media (max-width: 400px) {
  .main-title {
    margin-top: -170px;
    font-size: 120px;
    letter-spacing: 0;
  }

  .main-subtitle {
    margin-top: -15px;
  }
}

@media (max-width: 710px) {
  .main-title {
    font-size: 210px;
  }

  .main-subtitle {
    margin-top: -35px;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }

  .card:not(:first-child) {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 536px) {
  .main-title {
    font-size: 150px;
  }

  .main-subtitle {
    margin-top: 50px;
  }

  .nav__list {
    display: inline;
    font-size: 19.3px;
  }

  .nav__link {
    padding-bottom: 5px;
  }

  .header-content {
    margin-bottom: 2em;
  }

  .github-stats img {
    height: 120px;
  }
}

@media (max-width: 444px) {
  .card {
    display: block;
    text-align: center;
  }
}

@media (hover: none) {
  *:hover {
    transform: none;
  }
}

@media (max-width: 638px) {
  .main-title {
    font-size: 100px;
    letter-spacing: 3.5px;
  }

  .main-subtitle {
    margin-top: 20px;
  }

  .nav__link {
    min-width: 9.5ch;
  }

  .wrapper {
    height: 370px;
  }

  .card {
    display: block;
    text-align: center;
  }

  .project-card {
    width: 90%;
  }

  .progressbar {
    display: none;
  }

  .skill-main {
    display: flex;
    margin-top: -150px;
  }
}

.social-btn {
  text-align: center;
}

.social-btn a {
  margin: 10px;
}
