<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>
    <main>
      <div class="container">
        <img src="/img/icons/github.svg" alt="" height="50" />
        <img src="/img/icons/discord.svg" alt="" height="50" />
      </div>
    </main>
  </body>
</html>
