<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>
    <main>
      <div class="container">
        <a href="https://github.com/zachey01"
          ><img src="/img/icons/github.svg" alt="" class="contacts-icon"
        /></a>
        <a href=" https://discord.com/invite/dzuhSFG2cX"
          ><img src="/img/icons/discord.svg" alt="" class="contacts-icon"
        /></a>
        <a href="https://t.me/zachey01"
          ><img src="/img/icons/telegram.svg" alt="" class="contacts-icon"
        /></a>
        <a href="mailto:im@zachey.space"
          ><img src="/img/icons/email.svg" alt="" class="contacts-icon"
        /></a>
        <a href="https://steamcommunity.com/id/zachey01">
          <img src="/img/icons/steam.svg" alt="" class="contacts-icon"
        /></a>
        <a href="https://youtube.com/@zachey01"
          ><img src="/img/icons/youtube.svg" alt="" class="contacts-icon"
        /></a>
      </div>
    </main>
  </body>
</html>
