<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <script src="/js/mainTitle.js" async></script>
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>
    <main class="align-center">
      <iframe
        src="https://yoomoney.ru/quickpay/fundraise/widget?billNumber=XMzagAPjt3Q.230817&"
        width="500"
        height="480"
        frameborder="0"
        allowtransparency="true"
        scrolling="no"
      ></iframe>
    </main>
  </body>
</html>
