<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <script src="/js/mainTitle.js" async></script>
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>
    <main>
      <div class="align-center">
        <img src="/img/im.webp" alt="" class="main-avatar" />

        <div class="main-title">zachey</div>
        <svg
          style="visibility: 'hidden'; position: 'absolute'"
          width="0"
          height="0"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
        >
          <defs>
            <filter id="goof">
              <feGaussianBlur
                in="SourceGraphic"
                stdDeviation="5"
                result="blur"
              />
              <feColorMatrix
                in="blur"
                mode="matrix"
                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -5"
                result="goof2"
              />
              <feComposite in="SourceGraphic" in2="goof2" operator="atop" />
              <feTurbulence
                type="fractalNoise"
                baseFrequency="0.005"
                numOctaves="3"
                result="turbulence"
              />
              <feDisplacementMap
                in2="turbulence"
                in="goof2"
                scale="100"
                xChannelSelector="R"
                yChannelSelector="B"
              />
            </filter>
          </defs>
        </svg>
        <h3 class="main-subtitle">Fullstack developer, web designer</h3>
      </div>

      <div class="wrapper">
        <h2 class="subtitle">Skills:</h2>
        <div class="progressbar user-s__none">
          <input
            class="progressbar__checker"
            type="radio"
            id="js"
            name="progress-value"
          />
          <label class="progressbar__text" for="js">JS</label>

          <input
            class="progressbar__checker"
            type="radio"
            id="ts"
            name="progress-value"
          />
          <label class="progressbar__text" for="ts">TS</label>

          <input
            class="progressbar__checker"
            type="radio"
            id="nodejs"
            name="progress-value"
          />
          <label class="progressbar__text" for="nodejs">Node.JS</label>

          <input
            class="progressbar__checker"
            type="radio"
            id="html"
            name="progress-value"
          />
          <label class="progressbar__text" for="html">HTML/EJS</label>

          <input
            class="progressbar__checker"
            type="radio"
            id="css"
            name="progress-value"
          />
          <label class="progressbar__text" for="css">CSS/SCSS</label>

          <div class="side side__front">
            <div class="side__fill"></div>
          </div>
          <div class="side side__back">
            <div class="side__fill"></div>
          </div>
          <div class="side side__top">
            <div class="side__fill"></div>
          </div>
          <div class="side side__bottom">
            <div class="side__fill"></div>
          </div>
          <div class="side side__left"></div>
        </div>
      </div>
    </main>
  </body>
</html>
