<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MimiCMS</title>
    <link rel="stylesheet" href="/mimicms/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
      integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/mimicms/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/mimicms/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/mimicms/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/mimicms/img/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/mimicms/img/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <script src="/mimicms/js/gen.js" async></script>
  </head>
  <body>
    <header>
      <nav class="container">
        <div id="nav-logo">
          <h1>MimiCMS</h1>
        </div>
      </nav>
    </header>

    <main>
      <section id="landing-section">
        <img
          class="column_1 user-select-none pe-none"
          src="/mimicms/img/hero-image.svg"
          alt="Hero image"
        />

        <div class="column_2">
          <div></div>
          <div class="column_2b">
            <h1 class="d3">CMS for game servers new level.</h1>
            <div>
              <a href="#install">
                <button data-type="inverted" class="button">
                  <div class="button__bg"></div>
                  <p>Install</p>
                </button></a
              >
              <a href="https://github.com/zachey01/MimiCMS">
                <button class="button">
                  <div class="button__bg"></div>
                  <p>Github</p>
                </button></a
              >
            </div>
          </div>
        </div>
      </section>

      <section id="features">
        <div class="column_1 container py-5 flow">
          <h1>Features</h1>
          <p>CMS offers many benefits, here are just a few of them:</p>
        </div>
        <div class="column_2">
          <div class="features-cont">
            <div class="features-item flow">
              <i class="fa-sharp fa-solid fa-puzzle-piece features-icon"></i>
              <h5 class="features-name">Page constructor</h5>
            </div>
            <div class="features-item">
              <i class="fa-sharp fa-solid fa-code features-icon"></i>
              <h5 class="features-name">SDK for creating themes and plugins</h5>
            </div>
            <div class="features-item">
              <i class="fa-sharp fa-solid fa-heart features-icon"></i>
              <h5 class="features-name">Open Source</h5>
            </div>
            <div class="features-item">
              <i class="fa-sharp fa-solid fa-gauge features-icon"></i>
              <h5 class="features-name">Very high operating speed</h5>
            </div>
          </div>
        </div>
      </section>

      <a name="install"></a>
      <section id="newsletter">
        <div class="column_1 flow">
          <div class="container py-3">
            <h1 id="instruction-title">Instruction</h1>
            <p id="instruction-text">
              Fill out the form and click the "Download" button
            </p>
          </div>
        </div>
        <div class="column_2">
          <div class="container py-3">
            <h1>Installation</h1>
            <form>
              <div>
                <input
                  type="text"
                  placeholder="Server name"
                  name="name"
                  id=""
                />
                <input
                  type="text"
                  placeholder="Steam web API key"
                  name="SteamWebAPIkey"
                  id=""
                />
                <input
                  type="text"
                  placeholder="Owner`s SteamID"
                  name="OwnerID"
                  id=""
                />
                <input type="text" placeholder="Domain" name="Domain" id="" />
                <h4>MYSQL database</h4>
                <input
                  type="text"
                  placeholder="Hostname"
                  name="DB_HOST"
                  id=""
                />
                <input type="text" placeholder="User" name="DB_USER" id="" />
                <input
                  type="text"
                  placeholder="Password"
                  name="DB_PASSWORD"
                  id=""
                />
                <input type="text" placeholder="Name" name="DB_NAME" id="" />
                <h4>Game server</h4>
                <input type="text" placeholder="IP" name="ServerIP" id="" />
                <input type="text" placeholder="Port" name="ServerPort" id="" />
                <h6>RCON</h6>
                <input type="text" placeholder="Port" name="RCONport" id="" />
                <input
                  type="text"
                  placeholder="Password"
                  name="RCONpassword"
                  id=""
                />

                <h5>
                  Do you want to host the CMS for free (with your own domain or
                  free domain)?
                </h5>
                <ul class="i-radio">
                  <li>
                    <input type="radio" value="yes" name="option" id="yes" />
                    <label for="yes">Yes</label>
                  </li>
                  <li>
                    <input type="radio" value="no" name="option" id="no" />
                    <label for="no">No</label>
                  </li>
                </ul>
              </div>

              <button class="button">
                <div class="button__bg"></div>
                <p>Download</p>
              </button>
            </form>
            <p id="thanks"></p>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <section id="footer" class="line py-2">
        <div class="container">
          <div id="nav-logo">
            <h1>MimiCMS</h1>
          </div>
        </div>
      </section>
      <p class="copy-tag py-2">
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        by <a href="https://github.com/zachey01">Zachey</a>
      </p>
    </footer>
  </body>
</html>
