<div class="container">
  <div class="site-header animate__animated animate__backInDown">
    <div class="header__content--flow">
      <div class="header-content">
        <nav class="header-nav" role="navigation">
          <ul class="nav__list" aria-expanded="false">
            <li class="list-item">
              <a class="nav__link" href="/">Home</a>
            </li>
            <li class="list-item">
              <a class="nav__link" href="/blog">Blog</a>
            </li>
            <li class="list-item">
              <a class="nav__link" href="/projects">Portfolio</a>
            </li>
            <li class="list-item">
              <a class="nav__link" href="/contacts">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
