<div class="container">
  <div class="site-header animate__animated animate__backInDown">
    <div class="header__content--flow">
      <div class="header-content">
        <nav class="header-nav" role="navigation">
          <ul class="nav__list" aria-expanded="false">
            <li class="list-item">
              <a class="nav__link" href="/"
                ><script>
                  document.write(translateText.home);
                </script></a
              >
            </li>
            <li class="list-item">
              <a class="nav__link" href="/blog"
                ><script>
                  document.write(translateText.blog);
                </script></a
              >
            </li>
            <li class="list-item">
              <a class="nav__link" href="/projects"
                ><script>
                  document.write(translateText.portfolio);
                </script></a
              >
            </li>
            <li class="list-item">
              <a class="nav__link" href="/contacts"
                ><script>
                  document.write(translateText.contacts);
                </script></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
