<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/blog.css" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📰</text></svg>"
    />
  </head>
  <body>
    <h1 align="center" class="title">My Blog</h1>
    <div class="blog-articles">
      <% blogPosts.forEach(post => { %>
      <div class="blog-article">
        <h3 class="blog-article-title">
          <a href="/blog/<%= post.link %>"><%= post.title %></a>
        </h3>
        <p class="blog-article-description"><%= post.description %></p>
        <p class="blog-article-date unselectable">📅 <%= post.date %></p>
      </div>
      <% }); %>
    </div>
  </body>
</html>
